.Finn__eyes {
  display: flex;
  justify-content: space-between;
  width: 55%;
  animation: Finn__eyes--sadness 2s infinite;
}
.Finn__eye {
  border-radius: 100%;
  animation: Finn__eye--sadness 2s infinite;
}
.Finn__pupil {
  width: 8px;
  height: 10px;
  background: black;
  border-radius: 100%;
  animation: Finn__pupil--sadness 2s infinite;
}

@keyframes Finn__eyes--sadness {
  0% { width: 55%; }
  25% { width: calc(55% + 6px); }
  50% { width: calc(55% + 12px); }
  75% { width: calc(55% + 6px); }
  100% { width: 55%; }
}

@keyframes Finn__eye--sadness {
  0% { background: white; padding: 0px; border: 0; }
  25% { background: white; padding: 3px; border: 2px solid; }
  50% { background: white; padding: 6px; border: 2px solid; }
  75% { background: white; padding: 3px; border: 2px solid; }
  100% { background: white; padding: 0px; border: 0; }
}

@keyframes Finn__pupil--sadness {
  0% { width: 8px; height: 10px; }
  25% { width: 12px; height: 12px; }
  50% { width: 15px; height: 15px; }
  75% { width: 12px; height: 12px; }
  100% { width: 8px; height: 10px; }
}