html {
  font-size: 1em;
  line-height: 1.4;
  scroll-behavior: smooth;
}
::-moz-selection {
  background: rgba(255, 200, 123, 0.25);
}
::selection {
  background: rgba(255, 200, 123, 0.25);
}
button {
  background: none;
  outline: none;
  cursor: pointer;
}
ul {
  list-style: none;
  padding: 0;
}
