.Jake__right-ear,
.Jake__left-ear {
  width: 20px;
  height: 24px;
  background: #e2a725;
  position: absolute;
  top: 50%;
  border-left: 2px solid;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-radius: 0 0 100% 100%;
  border-top: 1px solid #e2a725;
  z-index: 2;
}

.Jake__right-ear {
  right: 21px;
  transform: rotate(-2deg);
}

.Jake__left-ear {
  left: 21px;
  transform: rotate(2deg);
}